<a href="https://colab.research.google.com/github/creepersguitar/snippets/blob/main/college.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
import os
database = 'college.db'
if os.path.exists(database):
    os.remove(database)

sql = '''
BEGIN TRANSACTION;
DROP TABLE IF EXISTS "student";
CREATE TABLE IF NOT EXISTS "student" (
	"StudentID"	INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
	"FirstName"	TEXT,
	"Surname"	TEXT,
	"TutorID"	INTEGER,
	FOREIGN KEY("TutorID") REFERENCES "tutor"("TutorID")
);
DROP TABLE IF EXISTS "tutor";
CREATE TABLE IF NOT EXISTS "tutor" (
	"TutorID"	INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
	"FirstName"	TEXT,
	"Surname"	TEXT
);
INSERT INTO "student" ("StudentID","FirstName","Surname","TutorID") VALUES (1,'Crystal','Chan',1),
 (2,'Josh','Tice',1),
 (3,'Tejay','Ford',1),
 (4,'Joe','Harper',3);
INSERT INTO "tutor" ("TutorID","FirstName","Surname") VALUES (1,'Steve','Woods'),
 (2,'Andrew','Chisholm'),
 (3,'Nicolette','Dryden');
COMMIT;
'''
update_sql = 'UPDATE tutor set FirstName = "Felonius", Surname="Gru" where TutorId = 2'
con = sqlite3.connect(database)
cur = con.cursor()
cur.executescript(sql)
cur.executescript(update_sql)
con.commit()
con.close()